<main class="p-5">
    {{!-- <div class="row gy-5">
 <section class="col-12">
    <div class="card text-bg-dark">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
    <div class="card-body">
        <h3 class="card-title text-bg-secondary">Makarony</h3>
<p class="text-bg-info">Bantiki <br> malenki</p>
<a href="/skills" class="btn btn-primary">Open link</a>
   </div>
</div>
 </section>

 <section class="col-3">
   <h3>Menu</h3>
<ul class="list-group">
<li class="list-group-item">
   <a href="#" class="btn btn-link">Home page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Summary page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Skills page</a>
</li>
 </section>

  <section class="col-9">
<table class="table table-striped table-bordered text-bg-success">
    <thead>
        <tr>
            <th>
                ID#
            </th>
            <th>
                Name:
            </th>
            <th>
                Age:
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>1</th>
            <td>John</td>
            <td>45</td>
        </tr>
          <tr>
            <th>2</th>
            <td>Loren</td>
            <td>35</td>
        </tr>
          <tr>
            <th>3</th>
            <td>Robin</td>
            <td>75</td>
        </tr>
    </tbody>
</table>
 </section>

 <section class="col-12">
<div class="row g-2 gy-2">
    <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
</div>
    <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

       <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>


       <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-3">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>
 </section>
</div> --}}


<h1>First title</h1>
<h2>Second title</h2>
<h3>Third title</h3>
<h4>Forth title</h4>
<h5>Fifth titile</h5>

<hr>

<h1 class="display-1 text-muted">First title</h1>
<h2 class="display-2">Second title</h2>
<h3 class="display-3">Third title</h3>
<h4 class="display-4">Forth title</h4>
<h5 class="display-5">Fifth title</h5>

<hr>

<span class="text-muted">Editional text</span>

<hr>

<h2 class="display-2 text-center">Second title</h2>
<h2 class="display-2 text-end">Second title</h2>

<hr>

<div class="text-muted text-end">
Joan <span class="display-6">Hopkins</span>
</div>

<h2 class="display-2 text-end text-uppercase">God bless  you!</h2>

<h5 class="display-5 text-lowercase">bealive</h5>
<h5 class="display-5 text-capitalize">on your path more than others</h5>

<hr>

<button class="btn btn-primary">Test button</button>
<button class="btn btn-success">
    <span class="display-6 text-uppercase">Test button</span>
    <h1> Text</h1>
    </button>
<button class="btn btn-light">Test button</button>
<button class="btn btn-warning">Test button</button>
<button class="btn btn-dark">Test button</button>
<button class="btn btn-secondary">Test button</button>
<button class="btn btn-link">Test button</button>
<button class="btn btn-info">Test button</button>
<button class="btn btn-danger">Test button</button>

<hr>

<a href="#" "btn btn-link">Link</a>

<p class="text-primary"> This text is blue color</p>
<p class="text-success"> This text is green color</p>

<hr>

<button class="btn btn-outline-light">Test button</button>
<button class="btn btn-outline-warning">Test button</button>
<button class="btn btn-outline-dark">Test button</button>
<button class="btn btn-outline-secondary">Test button</button>
<button class="btn btn-outline-link">Test button</button>
<button class="btn btn-outline-info">Test button</button>
<button class="btn btn-outline-danger">Test button</button>

<hr>

<button class="btn btn-danger btn-lg">Large button</button>
<button class="btn btn-success btn-sm">Small button</button>

<br>
<br>

<div class="card">
    <div class="card-body">
<button class="btn btn-danger btn-lg">Large button</button>
<button class="btn btn-success btn-sm">Small button</button>
    </div>
</div>
<br>

<div class="card">
    <div class="card-body">
content
   </div>
</div>


<br>

<hr>

<br>
<br>
<br>
<div class="card text-bg-dark">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
    <div class="card-body">
        <h3 class="card-title text-bg-secondary">Makarony</h3>
<p class="text-bg-info">Bantiki <br> malenki</p>
<a href="/skills" class="btn btn-primary">Open link</a>
   </div>
</div>

<br>
<br>
<br>
<h3>Menu</h3>

<ul class="list-group">
<li class="list-group-item">1. Lokshyna</li>
<ul class="list-group">
    <li class="list-group-item">1.1 Tverdyj sort</li>
    <li class="list-group-item">1.2 Bez Glutenu</li>
    <li class="list-group-item">1.3 Z temnoi pshenyci</li>
</ul>
<li class="list-group-item">2. Rakushka</li>
<li class="list-group-item">3. Bantik</li>
</ul>
   
<br>
<br>

<h3>Menu</h3>
<ul class="list-group">
<li class="list-group-item">
   <a href="#" class="btn btn-link">Home page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Summary page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Skills page</a>
</li>


<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Menu</h3>

<ul class="list-group">
<li class="list-group-item">
   <a href="#" class="btn btn-link">Home page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Summary page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Skills page</a>
</li>
</ul>
   </div>
</div>

<br>
<br>
<br>
<div class="card">
    <div class="card-header">
        <h3 class="card-title display-6">Menu</h3>
</div>
<ul class="list-group">
<li class="list-group-item">
   <a href="#" class="btn btn-link">Home page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Summary page</a>
</li>
<li class="list-group-item">
   <a href="#" class="btn btn-link">Skills page</a>
</li>
</ul>
  
<div class="card-footer">
    <button class="btn btn-dark btn-sm">Update list</button>
</div>

 </div>
</div>

<br>
<br>
<br>

<table class="table table-striped table-bordered text-bg-success">
    <thead>
        <tr>
            <th>
                ID#
            </th>
            <th>
                Name:
            </th>
            <th>
                Age:
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>1</th>
            <td>John</td>
            <td>45</td>
        </tr>
          <tr>
            <th>2</th>
            <td>Loren</td>
            <td>35</td>
        </tr>
          <tr>
            <th>3</th>
            <td>Robin</td>
            <td>75</td>
        </tr>
    </tbody>
</table>

<br>
<br>
<br>

<div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
<div class="card-footer text-center">Footer</div>
    </div>
</div>

|<br>
<br>
<br>
<div class="row g-2 gy-3">
    <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
</div>
    <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>


       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>

    
       <div class="col-4">
        <div class="card text-bg-info">
    <div class="card-header text-center">Header</div>
    <div class="card-body text-center">
<h5 class="card-title text-center">Title</h5>
<p class="text-center">Main content</p>
<buttom class="btn btn-primary">Push</buttom>
 </div>
<div class="card-footer text-center">Footer</div>  
</div>
    </div>


    </div>
</div>


<div class="row">
<div class="col-12 mb-5">
       <div class=" nav nav-tabs">
    <div class="nav-item">
        <a href="#" class="nav-link active">Main</a>   
    </div>
     <div class="nav-item">
        <a href="#" class="nav-link">Contact</a>   
    </div>
     <div class="nav-item">
        <a href="#" class="nav-link">Courses</a>  
    </div> 
    </div>
</div> 



<div class="col-5 pe-5">
    <div class="card">
    <div class="pt-4 pb-3 px-4">
<div class="nav flex-column">
    <div class="nav-item mb-2">
        <div class="card">
        <a href="summary" class="nav-link">Home page</a>   
    </div>
    </div>
    <br>
     <div class="nav-item mb-2">
         <div class="card">
        <a href="/skills" class="nav-link active">Catalogue</a>   
    </div>
    </div>
    <br>
     <div class="nav-item mb-2">
         <div class="card">
        <a href="#" class="nav-link disabled">FAQ questions</a>  
        </div> 
    </div>
    </div>
</div>
</div>
</div>

<div class="col-7">
   <div class="row">
    <div class="col-12">
         <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
           <li class="breadcrumb-item">
            <a href="#">Achievement</a>
        </li>
           <li class="breadcrumb-item">
            Location
        </li>
    </ol> 
    </div>

<div class="col-12">
    <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">New!</span></h6>
<button class="btn btn-danger rounded-pill">Click me!</button>
<div class="alert alert-info">This is important information</div>
</div>


<div class="col-12">
    <button class="btn btn-secondary rounded-pill my-5 mx-3 ms-0">Explore!</button>
    <div class="alert alert-warning">This is important information
    <h6 class="mb-3">Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Top Sales!</span></h6>

    <p class="m-o"> This is content!</p>
<button class="btn btn-success rounded-pill">Click me!</button>
</div>
</div>

<section>
    <div class="p-5">
        <div class="row g-5">
            <div class="col-12">
                <div>
                    <label class="form-label">Email address</label>
                    <input class="form-control">
                    <label class="form-text text-danger">Error. You need to set correct email.</label>
                </div>
            </div>

             <div class="col-12">
                <div>
                    <label class="form-label">Email address</label>
                    <div class="row">
                        <div class="col-4">
                            <input type="color" class="form-control">
                        </div>
                    </div>
                    <label class="form-text text-danger">Error. You need to set correct email.</label>
                </div>
            </div>

            <div class="col-12">
                <div>
                    <label class="form-label">Email address</label>
                    <input  disabled class="form-control">
                    <label class="form-text text-danger">Error. You need to set correct email.</label>
                </div>
            </div>

             <div class="col-12">
                <div class="row">
                    <div class="col-4">
                         <label class="form-label">Email address</label>
                    </div>
                        <div class="col-4">
                            <input type="color" class="form-control">
                        </div>
                            <div class="col-4 ps-5">
                            <label class="form-text text-danger">Error. You need to set correct email.</label>
                        </div>
                    </div>   
                </div>
            </div>
</section>

<section>
    <div class="pe-0">
       <div class="col-12">
                <div class="row">
                    <div class="col-4">
                         <label class="form-label">Email address</label>
                    </div>
                        <div class="col-4">
                            <input class="form-control form-control-lg">
                        </div>
                            <div class="col-4 ps-3">
                            <label class="form-text text-danger">Error. You need to set correct email.</label>
                        </div>
                    </div>   
                </div>
            </div>
            </div>
            </section>
<div>
    <hr>
</div>

<div class="col-12">
    <label class="form-label">Select role</label>
        <select class="form-select form-select-sm">
            <option selected>Open list</option>
                <option value="1">Admin</option>
            <option value="1">User</option>
        </select>
     <label class="form-text text-danger">Error. You need to set correct email.</label>
    </div>
</div>

<div>
    <hr>
</div>

<div class="row">
<div class="col-12 ms-1">
    <label class="form-label">Select food</label>
    <div class="form-check">
        <label class="form-check-label">Apple</label>
        <input name="grocery" type="checkbox" class="form-check-input">
    </div>
</div>
<div class="col-12 ms-1">
 <div class="form-check">
        <label class="form-check-label">Orange</label>
        <input  name="grocery" type="checkbox" class="form-check-input">
    </div>
    </div>
</div>
<div class="col-12 ms-1">
 <div class="form-check">
        <label class="form-check-label">Aubergine</label>
        <input  name="grocery" type="checkbox" class="form-check-input">
    </div>
    </div>
</div>
</div>

<div>
    <hr>
</div>

<div class="row">
<div class="col-12 ms-1">
    <label class="form-label">Select food</label>
    <div class="form-check">
        <label class="form-check-label">Apple</label>
        <input name="grocery" type="radio" class="form-check-input">
    </div>
</div>
<div class="col-12 ms-1">
 <div class="form-check">
        <label class="form-check-label">Orange</label>
        <input  name="grocery" type="radio" class="form-check-input">
    </div>
    </div>
</div>
<div class="col-12 ms-1">
 <div class="form-check">
        <label class="form-check-label">Aubergine</label>
        <input  name="grocery" type="radio" class="form-check-input">
    </div>
    </div>
</div>
</div>

<div>
    <hr>
</div>

<div class="row">
<div class="col-12 ms-1">
    <label class="form-label">Get bonus</label>
    <div class=" form-check form-switch">
        <label class="form-check-label">Yes</label>
        <input name="grocery" type="checkbox" class="form-check-input">
    </div>
</div>
<div class="col-12 ms-1">
 <div class="form-check form-switch">
        <label class="form-check-label">No</label>
        <input  name="grocery" type="checkbox" class="form-check-input">
    </div>
    </div>
</div>
</div>
</div>


<div>
    <hr>
</div>

<div class="col-12 ms-1">
 <div class="form-check form-switch">
        <label class="form-check-label">Get bonus</label>
        <input  name="grocery" type="checkbox" class="form-check-input">
    </div>
    </div>

<div class="p-5">
    <h1> Good luck! <i class="bi bi-coin"></i> </h1>
   
<button class="btn btn-warning"> 
    <i class="bi bi-currency-bitcoin"></i>
<i class="fa-solid fa-mug-hot fa-shake" style="color: #139021;"></i>
</button>

<div>
    <i class="fa-solid fa-mug-hot" width="30px" style="color: #139021;"></i>
</div>
   
</div>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#139021}</style><path d="M88 0C74.7 0 64 10.7 64 24c0 38.9 23.4 59.4 39.1 73.1l1.1 1C120.5 112.3 128 119.9 128 136c0 13.3 10.7 24 24 24s24-10.7 24-24c0-38.9-23.4-59.4-39.1-73.1l-1.1-1C119.5 47.7 112 40.1 112 24c0-13.3-10.7-24-24-24zM32 192c-17.7 0-32 14.3-32 32V416c0 53 43 96 96 96H288c53 0 96-43 96-96h16c61.9 0 112-50.1 112-112s-50.1-112-112-112H352 32zm352 64h16c26.5 0 48 21.5 48 48s-21.5 48-48 48H384V256zM224 24c0-13.3-10.7-24-24-24s-24 10.7-24 24c0 38.9 23.4 59.4 39.1 73.1l1.1 1C232.5 112.3 240 119.9 240 136c0 13.3 10.7 24 24 24s24-10.7 24-24c0-38.9-23.4-59.4-39.1-73.1l-1.1-1C231.5 47.7 224 40.1 224 24z"/></svg>
</div>


<div>
    <img src="/svg/slack.svg">
</div>

</main>