<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second text</h2>
    <h3 class="text-capitalize">Third text for better comparing choice</h3>
    <hr>
     <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second text</div>
    <div class="display-6">Third text</div>
    <hr>

    <div class="text-muted text-end">
        Look <span class="display-6">up</span>
 </div>
    <br>
    <br>
<div>
    <span class="text-muted"> Look down</span>
       </div>
       <br>
       <div>
        <button class="btn btn-primary">
            <span class="text-uppercase">Knopka bo pnopka</span></button>
       </div>
<br>
        <div>
        <button class="btn btn-secondary">Knopka bo sira</button>
       </div>
<br>
        <div>
        <button class="btn btn-warning">Knopka bo zovta</button>
       </div>
<br>
        <div>
        <button class="btn btn-primary">Knopka bo synia</button>
       </div>
       <br>
        <div>
        <button class="btn btn-success">Knopka bo zelena</button>
       </div>
       <br>
       <div>
        <button class="btn btn-danger">Knopka bo chervona</button>
       </div>
        <br>
       <div>
        <button class="btn btn-info">Knopka bo blakytna</button>
       </div>
          <br>
       <div>
        <button class="btn btn-light">Knopka bo svitla</button>
       </div>
       <br>
        <div>
        <button class="btn btn-info">
            <span class="text-success">Knopka bo zelena</span></button>
       </div>
         <br>
       <div>
        <button class="btn btn-dark">Knopka chorna</button>
       </div>
  <br>
       <div>
        <a href="#" class="btn btn-link">Posylania</a>
       </div>
       <br>
       <div>
        <a href="#" class="btn btn-primary">Knopka posylania</a>
       </div>

       <hr>

       <p class="text-primary">
        Alisa has been chatting with stranger since oclober untill her death.
       </p>
       
       <br>
<div class="card">
    <div class="card-body">
 <p class="text-success">
        Alisa has been chatting with stranger since oclober <snan class="text-danger">untill her death.</snan>
       </p>
       <br>
       <p class="text-muted">
        Alisa has been chatting with stranger since oclober untill her death.
       </p>
        <br>
       <p class="text-secondary">
        Alisa has been chatting with stranger since oclober untill her death.
       </p>
       <br>
       
       <button class="btn btn-outline-success text-uppercase">Global warming</button>
  <br>
  <br>
  <br>
       
       <button class="btn btn-outline-warning text-uppercase btn-lg">Velyka knopka</button>

        <br>
       <br>
       <br>
       <button class="btn btn-outline-info text-uppercase btn-sm">malen'ka knopka</button>
    </div>
</div>
      

<hr>
<div class="card">
    <div class="card-body">
        Vse tut content 
    </div>
</div>

<div class="card">
    <div class="card-body">
Hello world!!!
    </div>
</div>








</main>