<main>
    <h1><p class="text-center">InnovaMind</p></h1>
   <p class="text-uppercase text-center">Welcome to our wonderful community</p>

   <div class="card">
    <div class="card-body">

        <p class="display-6 text-end"><b>InnovaMind</b></p>
<h2 class="text-end text-capitalize">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to creating efficient and powerful software through the use of first-class functions.</h2>
 <br>
 <button class="btn btn-outline-info">Show more</button>
    </div>
   </div>

   <br>

   <div class="card">
    <div class="card-body">

<p class="display-5 text-secondary"><b>Advantage</b></p>

<div class="card">
    <div class="card-body">
        <p class="display-4 text-secondary"><b>Efficiency</b></p>
<h6 class="text-capitalize">Streamline your software development</h6>
<br>
<p>Streamline your software development with our innovative platform...</p>
<br>
<button class="btn btn-outline-warning">Show more</button>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <p class="display-4 text-secondary text-center"><b>Innovation</b></p>
<h6 class="text-capitalize text-center">Forward-thinking approach to programming</h6>
<br>
<p class="text-center">Stay ahead of the curve with our forward-thinking approach to programming...</p>
<br>
<button class="btn btn-outline-warning">Show more</button>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <p class="display-4 text-secondary text-end"><b>Collaboration</b></p>
<h6 class="text-capitalize text-end">Connect with like-minded developers</h6>
<br>
<p class="text-end">Connect with a community of like-minded developers to share knowledge and insights...</h6>
<br>
<button class="btn btn-outline-warning">Show more</button>

    </div>
</div>
    </div>
   </div>

   <br>

   <div class="card">
    <div class="card-body">
        <p class="display-5"><b>Terms of</b> <snap class="display-5">use</snap></p>
<br>

<div class="card">
    <div class="card-body">

<h5><p class="text-capitalize">Check out our requirements</p></h5>



<div class="card">
    <div class="card-body">

        <p>By using or accessing the service, you agree to be bound by the terms and conditions outlined in the agreement.</p>

<br>

<button class="btn btn-success">Аccept</button>
    </div>
</div>


    </div>
</div>

    </div>
   </div>
</main>