<main>

<div class="card">
    <div class="card-body">
 <div class="card">
    <div class="card-body"> 
         <h1>JavaScript</h1>
 <p class="text-sm">JavaScript is a popular high-level, dynamic, and interpreted programming language.</p>

<button class="btn btn-primary">Open page</button>
<br>
<br>
<button class="btn btn-outline-primary">Add to cart</button>
    </div>
 </div>

<br>
<br>
 <div class="card">
    <div class="card-body"> 
         <h2>Stack Overflow</h2>
 <p class="text-sm">First-class functions</p>

<button class="btn btn-secondary">Open page</button>
<br>
<br>
<button class="btn btn-outline-secondary">Add to cart</button>
    </div>
 </div>
<br>
<br>
 <div class="card">
    <div class="card-body"> 
         <h3>JavaScript Weekly</h3>
 <p class="text-sm">Prototype-based inheritance newsletter</p>

<button class="btn btn-dark">Open page</button>
<br>
<br>
<button class="btn btn-outline-dark">Add to cart</button>
    </div>
 </div>

    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
       <p><div class="display-1"><strong>HTML</strong></div></p>


<div class="card">
    <div class="card-body">


<p><div class="display-4"><b>Outdated HTML tags</b></div></p>
<p class="text-sm">tags that have been identified as deprecated and not recommended for use in HTML version 5</p>

<button class="btn btn-outline-warning">Open</button>
    </div>
</div>

<br>
<h6>Sections</h6>

<button class="btn btn-info">Learn more</button>

</div>
</div>

<br>


<div class="card">
    <div class="card-body">

<p class="text-uppercase">About modules</p>
<p class="text-lowercase">Modules with import/export statements</p>

<ul>
     <div>
         <a href="#" class="btn btn-link url=https://google.com">Open link page</a>
    <div>

<br>
       <div class="card">
    <div class="card-body"> 

    <div>
    <a>●</a> <a href="#" class="btn btn-link url=https://github.com/">Github</a>
</div>

<br>

    <div>
       <a>●</a> <a href="#" class="btn btn-link url=https://getbootstrap.com/">Bootstrap</a>
    </div>
       </div>
        </ul>
       </div>
    </div>
</div>
 </div>
</div>
    </div>
</main>